@using E_Ticaret_WEBUI.Models
@model IEnumerable<ProductModel>





<div class="row recent_row">
    <div class="col">
        <div class="recent_slider_container">
            @foreach (var urun in Model)
            {
                <div class="owl-carousel owl-theme recent_slider">

                    <!-- Slide -->
                    <div class="owl-item">
                        <div class="recent_item">
                            <div class="recent_item_inner">
                                <div class="recent_item_image">
                                    <img src="~/Content/images/@urun.Image" alt="@urun.Name">
                                </div>
                                <div class="recent_item_body text-center">
                                    <div class="recent_item_location">@urun.Description</div>
                                    <div class="recent_item_title"><a href="/Home/Details/@urun.Id">@urun.Name</a></div>
                                    <div class="recent_item_price">$ @urun.Price</div>
                                </div>
                                <div class="recent_item_footer d-flex flex-row align-items-center justify-content-start">
                                    <div><div class="recent_icon"><img src="../Content/images/icon_1.png" alt=""></div><span>@urun.SquareMeter m²</span></div>
                                    <div><div class="recent_icon"><img src="../Content/images/icon_2.png" alt=""></div><span>@urun.RoomQuantity</span></div>
                                    <div><div class="recent_icon"><img src="../Content/images/icon_3.png" alt=""></div><span>@urun.heat</span></div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            }
            <div class="recent_slider_nav_container d-flex flex-row align-items-start justify-content-start">
                <div class="recent_slider_nav recent_slider_prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                <div class="recent_slider_nav recent_slider_next"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>
</div>